.training-section{
    padding:120px 0;
    background:#66c7dd26;
    overflow:hidden;
}

/* heading */

.training-section .heading{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.training-section .heading .train-section-title{
    width:100%;
    max-width:700px;
    line-height:1.2;
}

/* cards */

.training-card{
    position:relative;
    overflow:hidden;
    border-radius:0;
}

.training-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    position:absolute;
    top:0;
    left:0;
}

/* image heights */

.big-card{
    height:520px;
}

.small-card{
    height:350px;
}

/* floating content */

.training-content{
    position:absolute;
    left:25px;
    bottom:25px;
    background:#fff;
    padding:18px 28px;
    border-radius:40px;
    min-width:230px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    z-index: 2;
}

.training-content span{
       display: block;
    font-size: 14px;
    color: #66cae6;
    margin-bottom: 5px;
    font-weight: 700;
}

.training-content h4{
    font-size:30px;
    font-weight:700;
    margin:0;
    color:#000;
}

/* spacing */

.training-section .right-column{
    padding-top:60px;
}

/* responsive */

@media(max-width:991px){

    .big-card,
    .small-card{
        height:400px;
    }

    .training-section .right-column{
        padding-top:0;
    }

    .training-content h4{
        font-size:22px;
    }

    .training-section #title{
        font-size:36px;
    }
}

@media(max-width:767px){

    .big-card,
    .small-card{
        height:320px;
    }

    .training-content{
        left:15px;
        bottom:15px;
        padding:14px 20px;
        min-width:200px;
    }

    .training-content h4{
        font-size:18px;
    }

    .training-section #title{
        font-size:30px;
    }
}